{% extends 'core.html' %}
{% block content %}

     <!-- {% for buoy in buoys %}
         {{buoy.category_name}}
         {{buoy.category_type}}
         {{buoy.category_location}}
         {{buoy.category_comments}}
         {{buoy.is_danger}}
         {{buoy.entry_date}}
     {% endfor %} -->

      <div class="row">
      <div class="col s4">
        <div class="row">
    <div class="col s12 m6">
      <div class="centre card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
      </div>
      <div class="col s4">
        <div class="row">
    <div class="col s12 m6">
      <div class="center card blue-grey darken-1">
        <div class=" card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
      </div>
      <div class="col s4">
        <div class="row">
    <div class="col s12 m6">
      <div class="centre card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
      </div>

    </div>
    
  <!-- <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title">VIEW LATEST ADDITIONS</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-.5">
        <div class="card-content white-text">
          <span class="card-title">ADD BUOY</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">EDIT BUOY</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}         
   